[access]
	inheritFrom = All-Projects
[submit]
	action = rebase always
[access "refs/*"]
	owner = group user/qb-cea
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/qb-cea
	label-Verified = -1..+1 group user/qb-cea
	push = group user/qb-cea
	read = group user/qb-cea
	rebase = group user/qb-cea
	removeReviewer = group user/qb-cea
	submit = group user/qb-cea
[access "refs/heads/*"]
	create = group user/qb-cea
	push = +force group user/qb-cea
	pushMerge = group user/qb-cea
	read = group user/qb-cea
[access "refs/tags/*"]
	push = group user/qb-cea
	push = +force group user/qb-cea
[receive]
	requireChangeId = true
