[access]
	inheritFrom = All-Projects
[submit]
	action = rebase always
[access "refs/*"]
	owner = group user/Quentin Bouget (qb-cea)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Quentin Bouget (qb-cea)
	label-Verified = -1..+1 group user/Quentin Bouget (qb-cea)
	push = group user/Quentin Bouget (qb-cea)
	read = group user/Quentin Bouget (qb-cea)
	rebase = group user/Quentin Bouget (qb-cea)
	removeReviewer = group user/Quentin Bouget (qb-cea)
	submit = group user/Quentin Bouget (qb-cea)
[access "refs/heads/*"]
	create = group user/Quentin Bouget (qb-cea)
	push = +force group user/Quentin Bouget (qb-cea)
	pushMerge = group user/Quentin Bouget (qb-cea)
	read = group user/Quentin Bouget (qb-cea)
[access "refs/tags/*"]
	push = group user/Quentin Bouget (qb-cea)
	push = +force group user/Quentin Bouget (qb-cea)
[receive]
	requireChangeId = true
